.clear::after{
    content: "";
    clear: both;
    display: block;
}
.mine-width{
    width: 1000px;
    margin: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* css-run */
.header-menu{
    background: #0e0701;
}
.menu-left{
    float: left;
    width: 30%;
}
.menu-left img{
    height: 60px;
    margin-top: 15px;
}
.menu-left a{}

.menu-right{
    float: right;
    width: 70%;
}
.menu-right ul{
    text-align: right;
    margin: 0;
}
.menu-right ul li{
    display: inline-block;
}
.menu-right ul li a{
    font-size: 20px;
    color: #fff;
    display: inline-block;
    padding: 30px 20px;
    transition: .5s;
}
.menu-right ul li:hover >a{
    background: rgb(63, 3, 3);
}
.menu-right ul li{
    position: relative;
}
.menu-right ul li ul{
    padding-left: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    background: #0e0701;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scaley(0);
    transform-origin: top center;
}
.menu-right ul li ul li{
    display: block;
}
.menu-right ul li ul li a{
    display: block;
}
.menu-right ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
}
.menu-right ul li ul li ul{
    position: absolute;
    top: 0;
    left: 100%;
}
/* banner site */
.banner{
    background: url(https://i.ibb.co/RgtHbBS/177230218-777420522977651-8847477568731629610-n.jpg) no-repeat center center;
    background-size: cover;
    padding: 400px 0;
}
.banner h1{}
.banner p{
    margin-top: -15px;
    font-size: 19px;
}
.banner a{
    display: inline-block;
    padding: 20px;
    background: #000000;
    color: #f3f3f3;
}
.banner-text{
    margin-top: -270px;
    margin-left: -35px;
}
.container{
    background: #444444;
    padding: 70px;
}
.text-contant p{
    color: #ffff;
    font-size: 20px;
    line-height: 40px;
}
.img-contant{

}
.img-contant img{
    height: 285px;
}
.service-sicstion{
    margin-left: 190px;
}
.service-contact{
    margin-right: 22px;
    margin-left: 22px;
    
}
.service-contact img{
   height: 160px;
}
.service h1{
    font-size: 50px;
    color: #fdfffe;
}
.service{
    background: #458b83;
    padding: 50px 0;
}